body {
    background-color: $background !important; /* stylelint-disable-line */
}
#page-login-forgot_password{
    #particles-js{
        display: none;
    }
    #page{
        background-image: unset;
    }
    .quote{
        display: none;
    }
    #region-main{
        margin-top: 5rem;
        margin-left: 5rem;
    }
    #page-footer{
        background-color: unset;
    }

}

#page-header {
    margin: 1.25rem auto;
    padding: 0;

    h1 {
        margin-bottom: 0;
    }

    #page-navbar {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .courseheader {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}

.moove-container-fluid {
    padding: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.card {
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.moove-container-fluid,
.container-fluid {
    max-width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.tertiary-navigation {
    max-width: 100%;
}

a {
    transition: all 0.25s ease-out;
    color: $ancor_links;
}



.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:focus-within {
    background-color: darken($brand-primary, 10%);
}

.shadow {
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%) !important;
}

@include media-breakpoint-up(md) {
    .pagelayout-standard #page.drawers .main-inner,
    body.limitedwidth #page.drawers .main-inner,
    #page.drawers .main-inner,
    .moove-container-fluid,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .header-maxwidth {
        max-width: 100%;
    }
}

@include media-breakpoint-down(md) {
    .pagelayout-standard #page.drawers .main-inner,
    body.limitedwidth #page.drawers .main-inner,
    #page.drawers .main-inner,
    .moove-container-fluid,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95%;
    }
}

//custom

.m-a-0 {
    margin: 0!important
}

.m-t-0,.m-y-0 {
    margin-top: 0!important
}

.m-r-0,.m-x-0 {
    margin-right: 0!important
}

.m-b-0,.m-y-0 {
    margin-bottom: 0!important
}

.m-l-0,.m-x-0 {
    margin-left: 0!important
}

.m-a-1 {
    margin: 1rem!important
}

.m-t-1,.m-y-1 {
    margin-top: 1rem!important
}

.m-r-1,.m-x-1 {
    margin-right: 1rem!important
}

.m-b-1,.m-y-1 {
    margin-bottom: 1rem!important
}

.m-l-1,.m-x-1 {
    margin-left: 1rem!important
}

.m-a-2 {
    margin: 2rem!important
}

.m-t-2,.m-y-2 {
    margin-top: 2rem!important
}

.m-r-2,.m-x-2 {
    margin-right: 2rem!important
}

.m-b-2,.m-y-2 {
    margin-bottom: 2rem!important
}

.m-l-2,.m-x-2 {
    margin-left: 2rem!important
}

.m-a-3 {
    margin: 3rem!important
}

.m-t-3,.m-y-3 {
    margin-top: 3rem!important
}

.m-r-3,.m-x-3 {
    margin-right: 3rem!important
}

.m-b-3,.m-y-3 {
    margin-bottom: 3rem!important
}

.m-l-3,.m-x-3 {
    margin-left: 3rem!important
}

.p-a-0 {
    padding: 0!important
}

.p-t-0,.p-y-0 {
    padding-top: 0!important
}

.p-r-0,.p-x-0 {
    padding-right: 0!important
}

.p-b-0,.p-y-0 {
    padding-bottom: 0!important
}

.p-l-0,.p-x-0 {
    padding-left: 0!important
}

.p-a-1 {
    padding: 1rem!important
}

.p-t-1,.p-y-1 {
    padding-top: 1rem!important;
}

.p-r-1,.p-x-1 {
    padding-right: 1rem!important
}

.p-b-1,.p-y-1 {
    padding-bottom: 1rem!important
}

.p-l-1,.p-x-1 {
    padding-left: 1rem!important
}

.p-a-2 {
    padding: 2rem!important
}

.p-t-2,.p-y-2 {
    padding-top: 2rem!important
}

.p-r-2,.p-x-2 {
    padding-right: 2rem!important
}

.p-b-2,.p-y-2 {
    padding-bottom: 2rem!important
}

.p-l-2,.p-x-2 {
    padding-left: 2rem!important
}

.p-a-3 {
    padding: 3rem!important
}

.p-t-3,.p-y-3 {
    padding-top: 3rem!important
}

.p-r-3,.p-x-3 {
    padding-right: 3rem!important
}

.p-b-3,.p-y-3 {
    padding-bottom: 3rem!important
}

.p-l-3,.p-x-3 {
    padding-left: 3rem!important
}