//$brand-primary: #0f47ad !default;
$brand-primary: #303135 ;
$green: #64a44e !default;
$gold: #f7bf29 !default;
$background: #f2f3f7;

$ancor_links: #0f6fc5;



$secondary-menu-color: $brand-primary ;
$m-login-padding: 10px;
$m-login-boxheight: 350px;

$moodle-color: #f98012 !default;
$facebook-color: #4167B2 !default;
$moodle-color: #f98012 !default;
$twitter-color: #55acee !default;
$youtube-color: #cc181e !default;
$linkedin-color: #007bb5 !default;
$instagram-color: #8a3ab9 !default;
$whatsapp-color: #25d366 !default;
$telegram-color: #0088cc !default;

//Custom
$navbar-header-color: #fff !default;
$font-family-sans-serif: "Poppins", sans-serif, !default;
$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 400 !default;
$headings-color: #455a64 !default;
//$body-bg: #f4f4f4 !default;
$body-bg: #fff !default;
$breadcrumb-bg: #e0e0e0 !default;
$card-border-radius: 0 !default;
$card-border-color: #d7dfe3 !default;

//From 39 custom theme
$navbar-height: 70px !default;
$navbar-bg: #303135 !default;
$navbar-bg-hover: #2b2c2f !default;
$navbar-separator: #2b2c2f !default;

$calendarEventCategoryColor: #fc4b6c !default;
$calendarEventCourseColor: #7460ee !default;
$calendarEventGlobalColor: #1e88e5 !default;
$calendarEventGroupColor: #ffb22b !default;
$calendarEventUserColor: #26c6da !default;

$m-login-padding: 10px;
$m-login-boxheight: 350px;
$m-card-padding: 1.25rem;
$m-moodle-color: #dcdcdc !default;
$m-facebook-color: #3b5998 !default;
$m-twitter-color: #55acee !default;
$m-youtube-color: #cc181e !default;
$m-googleplus-color: #d34836 !default;
$m-linkedin-color: #007bb5 !default;
$m-instagram-color: #8a3ab9 !default;
$m-whatsapp-color: #25d366 !default;
$m-moodle-footer-color: #fff !default;
$m-moodle-footer-title : #ab2323 !default;

$carousel-control-color: #fff !default;
$carousel-control-prev-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'#fff\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E" !default;
$carousel-control-next-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'#fff\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E" !default;